body{
margin: 2em;
border: 2px solid ;
padding: 1em;
font-family: sans-serif;

}

textarea {
background : linear-gradient(to right bottom,white ,#FFFF00);
color: #5C065C;
padding:0.2em;
font-weight: bold;
width: 70%;
height: 5em;
}
p#resultat {
	margin-left: 20%;
	margin-right: 20%;
	border: 2px solid;
	padding: 0.5em;
	text-align: center;
}
p.ok {
   border-color: #008000;
   background-color: #90EE90;
   color: #008000;
}
p.ko {
   border-color: #B61919;
   background-color: #EE7878;
   color: #B61919;
}